<div
  class="mnemo__level-container"
  [ngStyle]="{
    width: dynamicSize.width,
    height: dynamicSize.height,
    bottom: position.bottom,
    right: position.right
  }"
>
  <div
    class="mnemo__level-fill"
    [ngStyle]="{
      height: fillPercentage + '%',
      backgroundColor: isWarning ? 'red' : fillPercentage > 0 ? fillColor : 'transparent'
    }"
  ></div>
  <div class="mnemo__level-percentage">
    {{ fillPercentage | number: '1.0-0' }}% <!-- Отображаем процент заполненности -->
  </div>
</div>
