.idea/
backend/node_modules
backend/src/logs/*
backend/icon_offline.ico
backend/icon_online.ico
backend/settings.ini
backend/start_server.exe
backend/.env

frontend/node_modules
frontend/.vscode
frontend/public/content
frontend/public/video
frontend/.env