@use "../../../../../styles/mixins" as mixins;
@use "../../../../../styles/variables" as vars;

.password-modal {
  padding: 10px 20px;
  width: 100%;
  max-width: 780px;
  &__header {
    min-width: 500px;
  }
  &__body {
    margin-top: 10px;
    display: flex;
    max-height: 400px;
    min-height: 100px;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
  }
  &__form {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 605px;
  }
  &__form-item {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  &__form-item:not(:last-child) {
    margin-right: 10px;
  }
  &__form-label {
    width: 100%;
    @include mixins.text-style(14px, 18px, 600, vars.$hulk);
  }
  &__form-input-container {
    margin-top: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  &__form-input {
    display: block;
    width: 100%;
    height: 27px;
    padding: 4px 10px;
    @include mixins.text-style(14px, 14px, 400, vars.$carbon);
    background-color: vars.$white;
    background-clip: padding-box;
    border: 1px solid vars.$stone-cold;
    transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  &__form-input::placeholder {
    font-family: "Bitter", sans-serif;
    color: vars.$stone-cold;
  }

  &__form-input:hover {
    border: 1px solid vars.$hulk;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(vars.$greenish, 0.25);
  }

  &__form-input:active {
    border: 1px solid vars.$hulk;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(vars.$greenish, 0.25);
  }

  &__form-input:focus {
    background-color: vars.$white;
    border: 1px solid vars.$hulk;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(vars.$greenish, 0.25);
  }

  &__form-input:disabled {
    background-color: vars.$white-smoke;
    opacity: 1;
  }
  &__form-error {
    display: none;
    width: 200px;
    position: absolute;
    bottom: -15px;
    left: 0;
    z-index: 1;
    @include mixins.text-style(12px, 12px, 600, vars.$red);
    font-style: italic;
  }
  &__form-input.error {
    border: 1px solid vars.$red;
    box-shadow: 0 0 0 0.2rem rgba(255, 69, 58, 0.25);
  }
  &__form-error.error {
    display: block;
  }
}
