<div class="password-modal">
  <div class="password-modal__header">
    <app-modal-header [title]="'Коррекция параметров'" (close)="close()">
    </app-modal-header>
  </div>

  <div class="password-modal__body">
    <form class="password-modal__form">
      <div class="password-modal__form-item">
        <label class="password-modal__form-label">Введите пароль для коррекции</label>
        <div class="password-modal__form-input-container">
          <input class="password-modal__form-input" type="password" [(ngModel)]="password" name="password" [ngClass]="{'error': errorMessage}">
          <span class="password-modal__form-error" [ngClass]="{'error': errorMessage}">{{ errorMessage }}</span>
        </div>
      </div>
      <app-control-button (click)="confirm()">Подтвердить</app-control-button>
    </form>
  </div>
</div>
