<app-loader *ngIf="isLoading" [delay]="2000" [loadingText]="'Подождите, идет загрузка данных...'" (loadingComplete)="onLoadingComplete()"></app-loader>

<div class="current-container" *ngIf="!isLoading" [@fadeIn]="isDataLoaded ? '*' : 'void'">
  <app-header-current-params [title]="'Вращающаяся сушилка №' + id.replace('sushilka', '')"></app-header-current-params>

  <div class="tables">
    <app-general-table [title]="'Текущие параметры (температура)'" [data]="data?.temperatures || {}" [unit]="'°C'"></app-general-table>
    <app-general-table [title]="'Текущие параметры (разрежения)'" [data]="data?.vacuums || {}" [unit]="' кгс/м²'"></app-general-table>
    <app-general-table [title]="'Текущие параметры (горелка)'" [data]="data?.gorelka || {}"></app-general-table>
  </div>
</div>
