<div class="alarm__table-container" *ngIf="alarms$ | async as alarms">
  <table class="alarm__table">
    <thead class="alarm__table-head">
      <tr class="alarm__table-row">
        <th class="alarm__table-header">Наименование</th>
        <th colspan="2" class="alarm__table-header">Значения</th>
      </tr>
    </thead>
    <tbody class="alarm__table-body" *ngIf="alarms.length > 0; else noAlarms">
      <tr class="alarm__table-row" *ngFor="let alarm of alarms; trackBy: trackByAlarmKey">
        <td class="alarm__table-cell blink-warning">
          {{ alarm.key }}, {{ alarm.unit }}
        </td>
        <td class="alarm__table-cell blink-warning">
          {{ alarm.value }}
        </td>
        <td class="alarm__table-cell">
          <button
            class="alarm-btn btn-reset"
            (click)="openAlarmModal(alarm)"
            [disabled]="!hasAlarmConfig(alarm)"
          >
            <mat-icon>error_outline</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
    <ng-template #noAlarms>
      <tbody class="no-alarms">
        <tr>
          <td colspan="3">Все параметры в норме.</td>
        </tr>
      </tbody>
    </ng-template>
  </table>
</div>
