<div class="mnemo__kran-vert kran">
  <div class="mnemo__kran-box">
    <div
      class="mnemo__triangle1 mnemo__kran-left"
      [ngStyle]="{
        'border-left': currentTriangleWidth + 'px solid ' + color,
        'border-top': currentTriangleHeight + 'px solid transparent',
        'border-bottom': currentTriangleHeight + 'px solid transparent'
      }">
    </div>
    <div
      class="mnemo__triangle2 mnemo__kran-right"
      [ngStyle]="{
        'border-right': currentTriangleWidth + 'px solid ' + color,
        'border-top': currentTriangleHeight + 'px solid transparent',
        'border-bottom': currentTriangleHeight + 'px solid transparent'
      }">
    </div>
  </div>
</div>
