<div class="home">
  <div class="home__container">
    <mat-tab-group class="home__tab-group" (selectedTabChange)="selectedObjectId = $event.tab.textLabel">
      <!-- Все объекты -->
      <mat-tab *ngFor="let object of objectData; trackBy: trackById" class="home__tab">
        <ng-template mat-tab-label>
          <button mat-button class="home__tab-button btn-reset">
            {{ object.name }}
          </button>
        </ng-template>
        <!-- Кнопки управления -->
        <div class="home__button-group">
          <!-- Динамические кнопки по типу объекта -->
          <ng-container *ngTemplateOutlet="controlButtons; context: { $implicit: object }"></ng-container>
        </div>
        <!-- Контент -->
        <div class="home__content">
          <ng-container [ngSwitch]="true">
            <!-- Текущие параметры -->
            <ng-container *ngSwitchCase="activeView === 'parameters' && selectedObjectId === object.id">
              <app-sushilka *ngIf="object.type === 'sushilka'" [id]="object.id"></app-sushilka>
              <app-mpa *ngIf="object.type === 'mpa'" [id]="object.id"></app-mpa>
              <app-vr *ngIf="object.type === 'vr'" [id]="object.id"></app-vr>
              <app-mills-current *ngIf="object.type === 'mills'"></app-mills-current>
              <app-reactors *ngIf="object.type === 'reactors'"></app-reactors>
              <app-energy-resources-current *ngIf="object.type === 'energy'"></app-energy-resources-current>
            </ng-container>

            <!-- Мнемосхема -->
            <ng-container *ngSwitchCase="activeView === 'mnemo' && selectedObjectId === object.id">
              <app-sushilka-mnemo *ngIf="object.type === 'sushilka'" [id]="object.id"></app-sushilka-mnemo>
              <app-mpa-mnemo *ngIf="object.type === 'mpa'" [id]="object.id"></app-mpa-mnemo>
              <app-vr-mnemo *ngIf="object.type === 'vr'" [id]="object.id"></app-vr-mnemo>
              <app-reactors-mnemo *ngIf="object.type === 'reactors'"></app-reactors-mnemo>
            </ng-container>

            <!-- Графики и отчеты -->
            <ng-container *ngSwitchCase="selectedObjectId === object.id">
              <!-- Графики для VR -->
              <app-graphic-tempers-general-vr *ngIf="activeView === 'graph-vr-general-temper' && object.type === 'vr'"
                [id]="object.id"></app-graphic-tempers-general-vr>
              <app-graphic-vacuums-general-vr *ngIf="activeView === 'graph-vr-general-vacuums' && object.type === 'vr'"
                [id]="object.id"></app-graphic-vacuums-general-vr>
              <app-graphic-levels-general-vr *ngIf="activeView === 'graph-vr-general-levels' && object.type === 'vr'"
                [id]="object.id"></app-graphic-levels-general-vr>
              <app-graphic-notis-general-vr *ngIf="activeView === 'graph-vr-general-notis' && object.type === 'vr'"
                [id]="object.id"></app-graphic-notis-general-vr>

              <!-- Графики для MPA -->
              <app-graphic-mpa-general *ngIf="activeView === 'graph-mpa-general' && object.type === 'mpa'"
                [id]="object.id"></app-graphic-mpa-general>
              <app-mpa-graph-general-temper *ngIf="activeView === 'graph-mpa-general-temper' && object.type === 'mpa'"
                [id]="object.id"></app-mpa-graph-general-temper>
              <app-mpa-graph-general-pressure *ngIf="activeView === 'graph-mpa-general-pressure' && object.type === 'mpa'"
                [id]="object.id"></app-mpa-graph-general-pressure>

              <!-- Графики для сушилок -->
              <app-graphic-tempers-general *ngIf="activeView === 'graph-tempers-general' && object.type === 'sushilka'"
                [id]="object.id"></app-graphic-tempers-general>
              <app-graphic-vacuums-general *ngIf="activeView === 'graph-vacuums-general' && object.type === 'sushilka'"
                [id]="object.id"></app-graphic-vacuums-general>

              <!-- Графики для мельниц -->
              <app-mill1-graph *ngIf="activeView === 'mill1-graph' && object.type === 'mills'"></app-mill1-graph>
              <app-mill2-graph *ngIf="activeView === 'mill2-graph' && object.type === 'mills'"></app-mill2-graph>
              <app-mill-sbm3 *ngIf="activeView === 'millsbm3-graph' && object.type === 'mills'"></app-mill-sbm3>
              <app-mill-ygm9517 *ngIf="activeView === 'millygm9517-graph' && object.type === 'mills'"></app-mill-ygm9517>
              <app-mill-ycvok130 *ngIf="activeView === 'millycvok130-graph' && object.type === 'mills'"></app-mill-ycvok130>

              <!-- Графики для корпуса 296 -->
              <app-graphic-reactors-general *ngIf="activeView === 'graph-reactors-general' && object.type === 'reactors'"></app-graphic-reactors-general>
              <app-reactors-press-chart-temper-general *ngIf="activeView === 'chart-reactors-press-temper-general' && object.type === 'reactors'"></app-reactors-press-chart-temper-general>
              <app-reactors-press-chart-pressure-general *ngIf="activeView === 'chart-reactors-press-pressure-general' && object.type === 'reactors'"></app-reactors-press-chart-pressure-general>

              <!-- Отчеты и графики для энергоресурсов -->
              <app-energy-resources-report-day *ngIf="activeView === 'daily-report' && object.type === 'energy'"></app-energy-resources-report-day>
              <app-energy-resources-report-month *ngIf="activeView === 'monthly-report' && object.type === 'energy'"></app-energy-resources-report-month>
              <app-energy-resources-graph-pressure *ngIf="activeView === 'energy-resources-graph-pressure' && object.type === 'energy'"></app-energy-resources-graph-pressure>
              <app-energy-resources-graph-consumption *ngIf="activeView === 'energy-resources-graph-consumption' && object.type === 'energy'"></app-energy-resources-graph-consumption>
            </ng-container>
          </ng-container>
        </div>
      </mat-tab>

      <!-- Шаблон кнопок для разных типов объектов -->
      <ng-template #controlButtons let-object>
        <ng-container *ngFor="let button of getButtonsByType(object.type)">
          <app-control-button class="home__button"
            [isActive]="activeView === button.view && selectedObjectId === object.id"
            (onClick)="setActiveView(button.view, object.id)" iconName="bar_chart">
            {{ button.label }}
          </app-control-button>
        </ng-container>
      </ng-template>
    </mat-tab-group>
  </div>
</div>