<div class="content">
  <div class="dynamic-report">
    <div class="dynamic-report__title-content">
      <h1 class="dynamic-report__title">Отчёт по энергоресурсам</h1>
      <div class="dynamic-report__date-range">
        <div class="dynamic-report__date-label">Выберите дату для просмотра архива отчета:</div>
        <div class="dynamic-report__date-div">
          <!-- Используем компонент календаря -->
          <app-month-picker
            [selectedMonth]="selectedDate"
            (monthChange)="onDateChange($event)"
          ></app-month-picker>
        </div>
      </div>
    </div>

    <h3 class="dynamic-report__table-header title-reset">Отчет за {{ selectedDate | date: 'd MMMM y' }} г.</h3>

    <app-loader *ngIf="isLoading" [delay]="2000" [loadingText]="'Загрузка данных, пожалуйста подождите...'" (loadingComplete)="onLoadingComplete()"></app-loader>

    <div class="dynamic-report__table" *ngIf="!isLoading" [@fadeIn]="isDataLoaded ? '*' : 'void'">
      <table class="dynamic-report__report-table">
        <thead>
          <tr>
            <th class="dynamic-report__report-header" rowspan="2">Время</th>
            <th class="dynamic-report__report-header" colspan="3">Расход пара, Гкал</th>
            <th class="dynamic-report__report-header" colspan="4">Генерация пара от к.265 и котлов утилизаторов к.10в1, Гкал</th>
          </tr>
          <tr>
            <th class="dynamic-report__report-header">МПА2</th>
            <th class="dynamic-report__report-header">МПА3</th>
            <th class="dynamic-report__report-header">МПА4</th>
            <th class="dynamic-report__report-header">К10В1</th>
            <th class="dynamic-report__report-header">К265</th>
            <th class="dynamic-report__report-header">Котел Утил. №1</th>
            <th class="dynamic-report__report-header">Котел Утил. №2</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let timeData of reportData">
            <td class="dynamic-report__report-cell">{{ timeData.time }}</td>
            <td class="dynamic-report__report-cell">{{ timeData.DE093 === '-' ? '-' : timeData.DE093 }}</td>
            <td class="dynamic-report__report-cell">{{ timeData.DD972 === '-' ? '-' : timeData.DD972 }}</td>
            <td class="dynamic-report__report-cell">{{ timeData.DD973 === '-' ? '-' : timeData.DD973 }}</td>
            <td class="dynamic-report__report-cell">{{ timeData.DD576 === '-' ? '-' : timeData.DD576 }}</td>
            <td class="dynamic-report__report-cell">{{ timeData.DD569 === '-' ? '-' : timeData.DD569 }}</td>
            <td class="dynamic-report__report-cell">{{ timeData.DD923 === '-' ? '-' : timeData.DD923 }}</td>
            <td class="dynamic-report__report-cell">{{ timeData.DD924 === '-' ? '-' : timeData.DD924 }}</td>
          </tr>
          <tr *ngIf="reportData.length === 0">
            <td colspan="8" class="dynamic-report__report-cell">Нет данных за выбранную дату.</td>
          </tr>
          <tr *ngIf="reportData.length > 0">
            <td class="dynamic-report__total-cell">Итого</td>
            <td *ngFor="let total of calculateTotals() | keyvalue" class="dynamic-report__report-cell dynamic-report__total-value">
              {{ total.value.toFixed(2) }}
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="errorMessage" class="dynamic-report__error-message">{{ errorMessage }}</div>
    </div>
  </div>
</div>
