<h2 class="dialog__title">Подтверждение удаления</h2>
<mat-dialog-content class="dialog__content">
  <form [formGroup]="passwordForm">
    <mat-form-field appearance="outline" class="dialog__form-field">
      <mat-label>Пароль для удаления</mat-label>
      <input class="dialog__input"
        matInput
        type="password"
        formControlName="password"
        [ngClass]="{'input-error': passwordForm.get('password')?.invalid}"
        required>
      <mat-error *ngIf="passwordForm.get('password')?.hasError('required')">
        Введите пароль
      </mat-error>
      <mat-error *ngIf="passwordForm.get('password')?.hasError('incorrect')">
        Неверный пароль
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="dialog__actions">
  <app-control-button
    class="dialog__button dialog__button--cancel"
    (onClick)="onCancel()"
    [isDisabled]="isLoading"
    iconName="undo">
    Отмена
  </app-control-button>
  <app-control-button
    class="dialog__button dialog__button--delete"
    [isActive]="passwordForm.valid && !isLoading"
    [isDisabled]="!passwordForm.valid || isLoading"
    (onClick)="onDelete()" iconName="delete">
    {{ isLoading ? 'Проверка...' : 'Удалить' }}
  </app-control-button>
</mat-dialog-actions>
