<div class="current-param">
  <h1 class="current-param__title">
    <span class="current-param__title-span">Карбон</span>
    {{ title }}
  </h1>
  <div class="current-param__box">
    <span class="current-param__date">{{ currentDate }}</span>
    <span class="current-param__time">{{ currentTime }}</span>
  </div>
  <div *ngIf="mode" class="current-param__subtitle">
    Режим работы:
    <span class="current-param__subtitle-span"> {{ mode }}</span>
  </div>
  <div *ngIf="notisStatus" class="current-param__subtitle">
    Статус нотиса:
    <span class="current-param__subtitle-span"> {{ getNotisStatusText(notisStatus) }}</span>
  </div>
  <!-- Добавляем блок с временем работы VR -->
  <div *ngIf="vrTime" class="current-param__subtitle">
    Время работы печи:
    <span class="current-param__subtitle-span"> {{ vrTime }} (ч:мин)</span>
  </div>
</div>
